<?xml version="1.0" encoding="UTF-8"?>
<suite name="ExampleSuite" >
    <test name="SuiteTests" >
        <parameter name="username" value="admin"/>
        <parameter name="password" value="password"/>
        <classes>
            <class name="activities.DemoOne"/>
            <class name="activities.DemoTwo"/>
            <class name="activities.Activity5"/>
            <class name="activities.Activity6"/>
            <class name="activities.Activity1"/>
            <class name="activities.Activity2"/>
            <class name="activities.Activity3"/>

        </classes>
    </test>
</suite>
